/**
 * From proposed dark mode fix: <https://github.com/speced/respec/pull/4925>
 */

/**
 * Control prefers-color-scheme behavior in linked SVGs:
 * - use light when no dark scheme present, or light scheme is checked.
 * - use dark when dark scheme is checked.
 */
head:not(:has(meta[name='color-scheme'][content~='dark'])) + body,
body:has(input[name='color-scheme'][value='light']:checked) {
  color-scheme: light;
}
body:has(input[name='color-scheme'][value='dark']:checked) {
  color-scheme: dark;
}

/* Copy of hljs light/dark values, since hljs uses media
 * prefers-color-scheme rule which isn't controlled by color-scheme. */

body .hljs,
body:has(#toc-theme-toggle input[value='light']:checked) .hljs {
  --base: rgba(255, 255, 255, .6); /* Altered from hljs default of #fafafa; more like bikeshed/pygments */
  --mono-1: #383a42;
  --mono-2: #686b77;
  --mono-3: #717277;
  --hue-1: #0b76c5;
  --hue-2: #336ae3;
  --hue-3: #a626a4;
  --hue-4: #42803c;
  --hue-5: #ca4706;
  --hue-5-2: #c91243;
  --hue-6: #986801;
  --hue-6-2: #9a6a01;
}
body.darkmode .hljs,
body:has(input[name='color-scheme'][value='dark']:checked) .hljs {
  --base: #282c34;
  --base: rgba(255, 255, 255, .05); /* Altered from hljs default of #282c34; more like bikeshed/pygments */
  --mono-1: #abb2bf;
  --mono-2: #818896;
  --mono-3: #5c6370;
  --hue-1: #56b6c2;
  --hue-2: #61aeee;
  --hue-3: #c678dd;
  --hue-4: #98c379;
  --hue-5: #e06c75;
  --hue-5-2: #be5046;
  --hue-6: #d19a66;
  --hue-6-2: #e6c07b;
}
